<div class="card">
  <div class="header">
    <h1 class="title">Lookahead</h1>
  </div>

  <button (click)="refresh()">Refresh</button>

  <div class="content">

    <div>Online: {{online}}</div>

    <div class="control-group">
      <label>From City</label>
      <input [formControl]="controlFrom" class="form-control">
    </div>

    <div class="control-group">
      <label>To City</label>
      <input [formControl]="controlTo" class="form-control">
    </div>

    <div *ngIf="loading">Loading ...</div>

    <div *ngIf="diff$ | async as diff">Diff: {{diff}} </div>

    <table class="table table-striped">
      <tr *ngFor="let f of flights$ | async">
        <td>{{f.id}}</td>
        <td>{{f.from}}</td>
        <td>{{f.to}}</td>
        <td>{{f.date | date:'dd.MM.yyyy HH:mm'}}</td>
        <td><a (click)="select(f)">Select</a></td>
      </tr>
    </table>

    <pre *ngIf="basket$ | async as basket">{{ basket | json }}</pre>

    <div><h1>History</h1></div>
    <table class="table table-striped">
      <tr *ngFor="let f of history$ | async">
        <td>{{f.id}}</td>
        <td>{{f.from}}</td>
        <td>{{f.to}}</td>
        <td>{{f.date | date:'dd.MM.yyyy HH:mm'}}</td>
      </tr>
    </table>

  </div>
</div>
